@import url(https://fonts.googleapis.com/css?family=Varela+Round);

:root {
  --them-color: #DCF8C6;
  --me-color: #00ccff;
}

html,
body {
  height: 100%;
  font: 100%/1.5em "Varela Round", sans-serif;
}

body {
  flex-direction: column;
  margin: 0px;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

body,
header,
.msg,
.toolbar,
.form {
  display: flex;
}

header,
.messages {
  padding: .5em;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}
header {
  background-color: #075E54;
  color: white;
  padding-right: 0;
  line-height: 0.5em;
}

.contact--details__name {
  font-weight: normal;
  font-size: 1.75em;
}

.contact--details__tel {
  font-size: .875em;
}




input {
  padding-left: .8em;
  border: none;
  color: #111;
  flex: 1;
  outline: none;
  background-color: #eee;
  border-radius: 30px;
}

.msg {
  position: relative;
  margin-bottom: 2em;
}

.msg--notify {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #727b80;
}
.msg--notify span{
  padding: 4px;
  border-radius: 10px;
  background: #DCF8C6;
}
.text{
  word-wrap: break-word;
}
.blockquote {
  border-radius: .35em;
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 60%;
  padding: 0px 0.5em;
}

.msg--them .blockquote::after,
.msg--me .blockquote::before {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
}

.msg--them .blockquote {
  background-color: var(--them-color);
}

.msg--them .blockquote::after {
  border: .5em solid var(--them-color);
  border-color: var(--them-color) transparent transparent var(--them-color);
  top: 0em;
  right: -.4em;
}

.by,
.time {
  font-size: smaller;
  text-transform: capitalize;
}

.msg--me .blockquote {
  background-color: var(--me-color);
  margin-left: 1em;
}

.msg--me .blockquote::before {
  border: .5em solid var(--me-color);
  border-color: var(--me-color) var(--me-color) transparent transparent;
  top: 0em;
  left: -.4em;
}

.form {
  padding: 4px;
}

.msg--me .by {
  text-align: right;
}
.time{
  float: right;
  font-size: x-small;
}
.messages {
  flex: 1;
  overflow: auto;
  /* background-color: black; */
}

.msg--them {
  justify-content: flex-end;
}

.msg--them .blockquote {
  order: -1;
  margin-right: 1em;
}

.msg-send {
  padding: 5px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50px;
  margin-left: 10px;
  justify-content: center;
}

.online {
  color: lightgreen;
}

.offline {
  color: red;
}