@import url(https://fonts.googleapis.com/css?family=Varela+Round);


html,
body {
  height: 100%;
  font: 100%/1.5em "Varela Round", sans-serif;
}

body {
  flex-direction: column;
  margin: 0px;
}

body,
header,
.msg,
.toolbar,
.form {
  display: flex;
}

header,
.messages {
  padding: .5em;
}

header {
  background-color: #374455;
  color: white;
  padding-right: 0;
  line-height: 0.5em;
}

.contact--details__name {
  font-weight: normal;
  font-size: 1.75em;
}

.contact--details__tel {
  font-size: .875em;
}


.messages,
input {
  background-color: black;
}

input {
  padding-left: .325em;
  border: none;
  color: #111;
  flex: 1;
  outline: none;
  background-color: #eee;

}

.msg {
  position: relative;
  margin-bottom: 2em;
}

.msg--date {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  background: #222;
  color: #727b80;
}

.blockquote {
  border-radius: .35em;
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 60%;
  padding: 0px 0.5em;
}

.msg--them .blockquote::after,
.msg--me .blockquote::before {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
}

.msg--them .blockquote {
  background-color: #FFBB73;
}

.msg--them .blockquote::after {
  border: .5em solid #FFBB73;
  border-color: #FFBB73 transparent transparent #FFBB73;
  top: .5em;
  right: -1em;
}

.by,
.time {
  font-size: smaller;
  text-transform: capitalize;
}

.msg--me .blockquote {
  background-color: #0099cc;
  margin-left: 1em;
}

.msg--me .blockquote::before {
  border: .5em solid #0099cc;
  border-color: #0099cc #0099cc transparent transparent;
  top: .5em;
  left: -1em;
}

.form {
  background-color: #727b80;
  padding: 1px;
}

.msg--me .by,
.msg--them .time {
  text-align: right;
}

.messages {
  flex: 1;
  overflow: auto;
}

.msg--them {
  justify-content: flex-end;
}

.msg--them .blockquote {
  order: -1;
  margin-right: 1em;
}

.msg-send {
  padding: 5px;
}

.online {
  color: lightgreen;
}

.offline {
  color: red;
}